// main
$color-main: #313236;
$color-white: #fff;
$color-headfont: #2A3451;
$color-main-hover: #DE680B;

// 表格颜色
$color-header: #18233D;
$color-body: #596580; ;
$color-table-border: #ebedf2;
$color-table-header:#EBECF0;
$color-table-bg: #f5f6fa;

// table样式
$stripe: #f2f5fa; // 斑马线
$border-color: #ebecf0; //表格边框
$row-split-color: #e8e8e5; //分割线
$font-size-base: 14px; // 正文文字(默认使用)、副标题文字(表头名称)
$header-color: #f3f4f6; //表头背景
$base-font-color: #3c4455;  //  字体颜色
$hover-row-color: #f3f7fa;  //行hover
$text-color-help: rgba($base-font-color, 0.7);  // 辅助文字颜色
$blue: #2a76cd;  //按钮颜色

// status color
$color-status-success: #0faf0f; // success
$color-status-warning: #e1af0f; // waring
$color-status-danger: #af0f0f; // danger

// text color
$color-mainfont: #4a4a4a; // main font
$color-icon: #929292; // icon输入框说明叙述文字
$color-border-hover: #b6b6b6; // hover边框
$color-button-text: #0D3F98;

// line color
$color-line-button: #dbdbdb;
$color-line-card: #ededed;
$color-line-nav: rgba($color-mainfont, 0.3);
$color-line-input: rgba($color-mainfont, 0.2);
$color-panel-boder: $color-line-button;

// background color
$color-body-bg: #F5F7FC;
$color-background: $color-body-bg;
$color-menu-hover: rgba($color-main, 0.1);
$color-button-bg: #C0D0EC;
$color-table-header-bg: #EBECF0;
