// sidebar
$menuText:#000;
$menuActiveText:#409EFF;
$subMenuActiveText:#000; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#ecf5ff;

$subMenuBg:#fff;
$subMenuHover:#ecf5ff;

$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
